.meet-info-wrap {
  position: absolute;
  top: 50px;
  left: 50px;
  background: #B9C0D5;
  border-radius: 15px;
  padding: 30px;
  width: 320px;
  .meet-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222;
    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
    }
    .icon {
      cursor: pointer;
      font-size: 20px;
      margin-bottom:20px;
    }
  }
  .info-text {
    color: #222;
    font-size: 14px;
  }
  .meet-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f3f5;
    padding: 15px;
    border-radius: 5px;
    span {
      font-size: 14px;
      font-weight: 600;
      border: none;
      outline: none;
      background: none;
      flex: 1;
      color: #555;
    }
    .icon {
      cursor: pointer;
      color: #555;
    }
  }
}
