
.calendar-wrap{
    
    padding:5%;
    max-width:90%;

    .btn-l{
         cursor: pointer;
            font-size: 16px;
            padding: 15px;
            border: none;
            outline: none;
            background: none;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            background-color: #885ebb;
    }
    .btn-r{
        cursor: pointer;
            font-size: 16px;
            padding: 15px;
            border: none;
            outline: none;
            background: none;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            background-color: #885ebb;
            margin-right:55%;
    }
    .btn-c{
         cursor: pointer;
            font-size: 16px;
            padding: 15px;
            border: none;
            outline: none;
            background: none;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            background-color: #885ebb;
            margin-right:10%;
    }
}