.messenger-container {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 95vh;
  width: 350px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .messenger-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    h3 {
      margin: 0;
      font-weight: 400;
    }
    .icon {
      cursor: pointer;
      font-size: 20px;
    }
  }
  .messenger-header-tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #885ebb;
      p {
        margin-left: 15px;
      }
      &.active {
        border-bottom: 2px solid #885ebb;
        color: #885ebb;
      }
      &:hover {
        cursor: pointer;
        background: rgba(0, 121, 107, 0.039);
      }
    }
  }
  .chat-section {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    .chat-block {
      margin-bottom: 30px;
      .sender {
        font-weight: 500;
        font-size: 14px;
        small {
          margin-left: 5px;
          font-weight: 300;
        }
      }
      .msg {
        margin: 0;
        padding-top: 5px;
        color: #885ebb;
        font-size: 14px;
      }
    }
  }
  .send-msg-section {
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #885ebb;
    input {
      padding: 5px;
      border: none;
      outline: none;
      border-bottom: 1px solid #eee;
      width: 80%;
    }
    .icon {
      cursor: pointer;
      &:hover {
        color: #885ebb;
      }
    }
  }
}
