.head-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  background: #B9C0D5;
  border-radius: 0 0 0 10px;
  overflow: hidden;
  .head-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    flex: 1;
    border-right: 1px solid rgb(245, 245, 245);
    position: relative;
    .alert-circle-icon {
      position: absolute;
      background: #885ebb;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #fff;
      top: 10px;
      right: 40px;
    }
    &.date-block {
      font-size: 22px;
      color: #6f33b8;
      min-width: 120px;
      font-weight: 400;
    }
    &.icon-block {
      .icon {
        color: #885ebb;
        font-size: 22px;
        &.profile {
          font-size: 32px;
          color: #885ebb;
        }
      }
      &:hover {
        cursor: pointer;
        background: #eee;
      }
    }
  }
}
