.footer-wrap {
  display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    bottom:0;
    left:0;
    margin-left:230px;
    width:55%;
    height:80px;
    background:#B9C0D5;
    opacity:80%;
    z-index: 1;
    margin-bottom: 40px;
    .center{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    .icon-space {
      background: #fff;
      border: 1px solid rgb(223, 223, 223);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      .icon {
        color: #885ebb;
        font-size: 20px;
        &.red {
          color: #d93025;
        }
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #ddd;
      }
      &.red-bg{
        background: #d93025;
        .icon{
          color: #fff;
        }
      }
    }
  }
  .right-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 60%;
    .icon-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 120px;
      color: #555;
      .icon {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .title {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }
      &:hover {
        cursor: pointer;
        background: #eee;
      }
    }
  }
}
